<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    {{ categ.title }}
    <br>
    <p>Liste des attributs pour la categorie</p>
    {% for c in categAttr %}
        <p>{{ c.name }}</p>
        <p>{{ dump(c) }}</p>


    {% endfor %}

    <br>
    <p>Ajouter un nouvel attribut</p>
    <form method="post">
        <select name="newAttribute" id="">
        {% for a in attribute %}
            <option>{{ a.name }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Envoyer le formulaire">
    </form>
    <br>
    <a href="{{ path('back_new_category', { 'categ' : categ.title }) }}">Creer categorie enfant</a>

</body>
</html>