{% extends 'back/base.html.twig' %}

{% block body %}
    <br>
    <br>
    <h4 class="title is-4">{{ categ.title }}</h4>
    <p>Liste des attributs pour la categorie</p>
    <br>
    {% for c in categAttr %}
        <p>{{ c.name }} {{ c.unit }} </p>


    {% endfor %}

    <br>
    <p>Ajouter un nouvel attribut</p>
    <form method="post">
        <select name="newAttribute" id="">
            {% for a in attribute %}
                <option>{{ a.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Envoyer le formulaire">
    </form>
    <br>
    <a href="{{ path('back_new_category', { 'categ' : categ.title }) }}">Creer categorie enfant</a>

{% endblock %}